ul.todo-list li {
  display: flex;
  border-top: 1px solid #dfe6e9;
  border-bottom: 1px solid #dfe6e9;
}

ul.todo-list li .todo {
  flex: 1;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px;
}

ul.todo-list li .todo.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.35);
}

ul.todo-list li .remove {
  background-color: transparent;
  color: #ff7675;
  border: none;
  cursor: pointer;
  width: 50px;
}
